:root {
    /* CORES PRINCIPAIS */
    --cor-primaria: #6528D3;
    --cor-primaria-hover: #834de8;

    /* CORES NEUTRAS*/
    --cor-neutra-escura: #111111;
    --cor-neutra-clara: #ffffff;
    --cor-cinza-clara: #ededed;
    --cor-cinza-meio-tom:#e0e0e0;
    --cor-cinza-escura: #29272a;
    --cor-roxa-clara: #bca2ed;
    --cor-verde-clara: #6addb7;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--cor-neutra-escura);
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}